:root {
    font-family: "Inter", Arial, sans-serif;
}

#root {
    height: 100vh;
}

.overflow-y-scroll {
    overflow-y: scroll !important;
}

.legend > * {
    font-family: "Inter", Arial, sans-serif;
    font-feature-settings: 'tnum' 1;
}